/* ---------------------------
      common style rules
----------------------------- */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FDFDFD;
}
a{
    text-decoration: none;
}


/* ----------------------------
          Header              
------------------------------ */


.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 43px;
    position: absolute;
    z-index: 11;
    align-items: center;
    margin-bottom: 70px;
    width: 100%;
}
.navigation{
    padding-left: 156px;
    width: 100%;  
}

.navigation li{
    list-style: none;
    display: inline;
    margin-right: 36px;

}
#menu-bar{
    display: none;
}
.navigation a{
    color: white;
}

.login{
    padding-right: 123px;
}
.login a,.btn{
    padding: 10px 24px;
    color: white;
    background-color: #E02C6D;
    box-shadow: 1px 1px 10px 2px rgb(51, 63, 235);
}
.navbar .login a{
    position: absolute;
    right: 123px;
    top: 50px;
}
.login a i{
    padding-right: 10px;
}

/* -------------------------------
    banner section                
---------------------------------- */
.container{
    width: 100%;
    height: 677px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d25a0;
    position: relative;
    z-index: 10;
    top: 0;
}
.banner-heading{
    padding-left: 156px;
    width: 485px;
    height: 230px;
    
}
.banner-heading h1{
    font-size: 64px;
    font-weight: 700px;
    color: white;
    font-family: 'Poppins', sans-serif;
    
}

.banner-img img{
    width: 556px;
    height: 438px;
    padding-right: 140px;
    transition: transform 1s ease-out ;
}
.banner-img img:hover{
    transform: scale(1.5);
}
.banner-heading i{
    padding-left: 10px;
}
/* -----------------------------
        player album
--------------------------------- */

.players-album{
    width: 1080px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    margin-top: 70px;
    
}
.player{
    margin: 15px 15px;
    width: 330px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-img img{
    width: 100%;
    transition: transform 1s;
}
.player-img img:hover{
    transform: scale(1.1);
}
.player-info h3{
    font-size: 28px;
    font-weight: 700;
}
.player-info p{
    font-size: 16px;
}
/* ----------------------------
          Highlight section              
------------------------------ */
.highlight-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 100px 120px 100px 182px;
}
.highlight{
    width: 466px;
}
.highlight a{
    box-shadow: 1px 1px 10px 2px rgb(187, 187, 190);
}
.highlight a i{
    margin-left: 0;
}
.highlight h2{
    font-size: 48px;
    font-weight: 700;
    margin: 0px;
}
.highlight-img{
    width: 567px;
    padding: 10px;
    padding-top: 30px;
}
.highlight-img img{
    width: 90%;
}
/* ----------------------------
          gallery section            
------------------------------ */
.gallery-section{
    
    margin-bottom: 150px;
    
}

.gallery-section h2{
    text-align: center;
    font-size: 50px;
}

.gallery{
    width: 18%;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    gap: 30px;
    
}
.gallery img{
    width: 100%;
    box-shadow: 1px 1px 10px 2px rgb(187, 187, 190);
    transition: transform 2s;    
}
.gallery img:hover{
    transform: scale(3);
}
/* ----------------------------------
        Footer section             
------------------------------------- */
.footer-section{
    width: 485;
    height: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-section .logo img{
    width: 485px;
    height: 110px;
}
.social-icons i{
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.411);
    border-radius: 20px;
}


/* ----------------------------------
        media queries             
------------------------------------- */

/* ----------for mobile device starts----------- */

@media only screen and (max-width:688px){

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .login a{
        position: absolute;
        top: 20px;
        right: 10px;
        padding: 5px 20px;
    }
    .login a i{
        margin-left: 10px;
    }
    .navigation li{
        display: none;
    }
    #menu-bar{
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        color: white;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        margin-top: 50px;

    }
    .banner-heading h1{
        font-size: 40px;
        font-weight: 500px;
        color: white;
        font-family: 'Poppins', sans-serif;
        margin-top: 70px;
    }
    .banner-img img{
        width: 100%;
        height: 100%;
        transition: transform 2s ease-in ;
    }
    .banner-img img:hover{
        transform: scale(1.5);
    }
    .players-album{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        padding: 0;
    }
    .player{
        margin-left: 0px;
    }
    .highlight-container{
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .highlight{
        width: 100%;

    }
    .highlight h2{
        font-size: 32px;
        text-align: center;
        margin-top: 30px;
    }
    .highlight p{
        padding: 5px 10px;
    }
    .highlight a i{
        margin-left: 10px;
    }
    .highlight-img img{
        width: 80%;
    }
    .gallery-section{
        margin-bottom: 50px;
    }
    .gallery-section h2{
        font-size: 32px;
    }
    
    .gallery{
        margin: 0px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery img{
        transition: none;
       
    }
    .gallery img:hover{
        transform: none;
    }
    .footer-section .logo img{
        width: 300px;
        height: 80px;
    }


}


/* ----------for tablet device starts----------- */

@media only screen and (min-width:689px) and (max-width:992px){

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
    }
    .login a{
        position: absolute;
        top: 20px;
        right: 50px;
    }
    
    .navigation li{
        display: none;
    }
    #menu-bar{
        display: block;
        position: absolute;
        top: 20px;
        left: 30px;
        color: white;
    }
    
    .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 50px;

    }
    .banner-heading h1{
        font-size: 50px;
        font-weight: 500px;
        color: white;
        font-family: 'Poppins', sans-serif;
        margin-top: 80px;
    }
    .banner-img img{
        margin-top: 50px;
        width: 100%;
        height: 100%;

    }
    .banner-img{
        position: relative;
        top: 30px;
    }
    .players-album{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        padding: 0;
    }
    .player{
        margin-left: 0px;
    }
    
}